<div class="container">
  <div class="back">
    <br>
    <a href="/main"><img src="http://downloadicons.net/sites/default/files/back-arrow-icon-63664.png" height="45px" weight="45px" alt="Back">Go Back</a>
    <br>
  </div>
  <form (ngSubmit)="updateCard(updatedCard)">
    <legend>Edit Card</legend>
    <label for="name">Name:</label>
    <input name="name" [(ngModel)]="updatedCard.name" placeholder={{updatedCard.card.name}}><br>
    <label for="type_of_card">Type:</label>
    <input name="type_of_card" [(ngModel)]="updatedCard.type_of_card" placeholder={{updatedCard.card.type_of_card}}><br>
    <label for="photo_url">Photo URL:</label>
    <input name="photo_url" [(ngModel)]="updatedCard.photo_url" placeholder={{updatedCard.card.photo_url}}><br>
    <label for="email_address">Email Address:</label>
    <input name="email_address" [(ngModel)]="updatedCard.email" placeholder={{updatedCard.card.email}}><br>
    <label for="phone_number">Phone Number:</label>
    <input name="phone_number" [(ngModel)]="updatedCard.phone_number" placeholder={{updatedCard.card.phone_number}}><br>
    <label for="elevator_pitch">Elevator Pitch:</label>
    <textarea rows="5" cols="60" name="elevator_pitch" [(ngModel)]="updatedCard.elevator_pitch" placeholder={{updatedCard.card.elevator_pitch}}></textarea>
    <div class="lower">
      <input type="submit" value="Update">
    </div>
  </form>
</div>
