<div *ngIf="cardsService.updateCardFailure" class="failure">
  <h5>Sorry, this card could not be edited.</h5>
</div>
<div class="container">
  <div class="back">
    <br>
    <a href="cards"><img src="http://downloadicons.net/sites/default/files/back-arrow-icon-63664.png" height="45px" weight="45px" alt="Back">Go Back</a>
    <br>
  </div>
  <form (ngSubmit)="updateCard(updatedCard)">
    <legend>Edit Card</legend>
    <label for="type_of_card">Description (for your reference only):</label>
    <input name="type_of_card" [(ngModel)]="updatedCard.type_of_card" id="update-description" placeholder={{updatedCard.card.type_of_card}}><br>
    <label for="name">Name:</label>
    <input name="name" [(ngModel)]="updatedCard.name" id="update-name" placeholder={{updatedCard.card.name}}><br>
    <label for="photo_url">Photo URL (Optional):</label>
    <input name="photo_url" [(ngModel)]="updatedCard.photo_url" id="update-photo" placeholder={{updatedCard.card.photo_url}}><br>
    <label for="email_address">Email Address:</label>
    <input name="email_address" [(ngModel)]="updatedCard.email" id="update-email" placeholder={{updatedCard.card.email}}><br>
    <label for="phone_number">Phone Number:</label>
    <input name="phone_number" [(ngModel)]="updatedCard.phone_number" id="update-phone" placeholder={{updatedCard.card.phone_number}}><br>
    <label for="elevator_pitch">Elevator Pitch (Optional):</label>
    <textarea rows="5" cols="60" name="elevator_pitch" [(ngModel)]="updatedCard.elevator_pitch" id="update-elevator" placeholder={{updatedCard.card.elevator_pitch}}></textarea>
    <div class="lower">
      <input type="submit" value="Update">
    </div>
  </form>
</div>
