<a class="hiddenanchor" id="toregister"></a>
<div *ngIf="auth.signUpFailure" class="failure">
  <h5>Please try again. This user already exists or you have entered the fields incorrectly.</h5>
</div>
<div *ngIf="auth.loginSuccess" class="success">
  <h5>You are now signed in as {{auth.user.email}}.</h5>
</div>
<div *ngIf="auth.loginFailure" class="failure">
  <h5>Please try again. This user doesn't exist or you have entered the fields incorrectly.</h5>
</div>
<div *ngIf="auth.isSignedOut" class="container">
  <form>
    <legend>Log In!</legend>
    <label for="email">Email:</label><br>
    <input [(ngModel)]="user.email" name="email" type="text" placeholder="Email"/><br>
    <label for="password">Password:</label><br>
    <input [(ngModel)]="user.password" name="password" type="password" placeholder="Password"/><br><br>
    <a href="#toregister">Not a member yet? Join us!</a>
    <div class="lower">
      <input (click)="login()" type="submit" value="Log in"/>
    </div><!--/ lower-->
  </form>
</div><!--/ container-->

<div>
  <app-sign-up></app-sign-up>
</div>
