<a class="hiddenanchor" id="toregister"></a>
<div *ngIf="auth.signUpFailure" class="failure">
  <h5>Please try again. This user already exists or you have entered the fields incorrectly.</h5>
</div>
<div *ngIf="auth.loginFailure" class="failure">
  <h5>Please try again. This user doesn't exist or you have entered the fields incorrectly.</h5>
</div>
<div class="container">
  <form ngNativeValidate>
    <legend>Log In!</legend>
    <label for="email">Email:</label><br>
    <input [(ngModel)]="user.email" id="email-log" name="email" type="text" placeholder="Email" required/><br>
    <label for="password">Password:</label><br>
    <input [(ngModel)]="user.password" id="password-log" name="password" type="password" placeholder="Password" required/><br><br>
    <a href="#toregister">Not a member yet? Join us!</a>
    <div class="lower">
      <input (click)="login()" type="submit" value="Log in"/>
    </div><!--/ lower-->
  </form>
</div><!--/ container-->

<div>
  <app-sign-up></app-sign-up>
</div>
