<div *ngIf="auth.changePasswordSuccess" class="success">
  <h5>Your password has been changed.</h5>
</div>
<div *ngIf="auth.changePasswordFailure" class="failure">
  <h5>Could not change password. Please ennsure you have filled in the fields correctly.</h5>
</div>
<div *ngIf="auth.signOutSuccess" class="success">
  <h5>You have successfully signed out.</h5>
</div>
<div *ngIf="auth.signOutFailure" class="failure">
  <h5>There was an error signing out.</h5>
</div>
<div class="container">
  <div class="back">
    <br>
    <a href="/main"><img src="http://downloadicons.net/sites/default/files/back-arrow-icon-63664.png" height="45px" weight="45px" alt="Back">Go Back</a>
    <br>
  </div>
  <form>
    <legend>Change Password</legend>
    <label for="oldPassword">Old Password:</label><br>
    <input [(ngModel)]="oldPassword" type="password" name="oldPassword" placeholder="Old Password"/><br>
    <label for="oldPassword">New Password:</label><br>
    <input [(ngModel)]="newPassword" type="password" name="newPassword" placeholder="New Password"/>
    <div class="lower">
      <input (click)="changePassword()" type="submit" value="Change"/>
    </div><!--/ lower-->
  </form>
  <form>
    <legend>Log Out</legend>
    <div class="lower">
        <input (click)="signOut()" type="submit" value="Sign Out"/>
    </div><!--/ lower-->
  </form>
</div><!--/ container-->
