<div *ngIf="cardsService.deleteCardSuccess" class="success">
  <h5>The card has successfully been deleted.</h5>
</div>
<div *ngIf="cardsService.deleteCardFailure" class="failure">
  <h5>Sorry, this card could not be deleted.</h5>
</div>
<div class="container">
  <div class="back">
    <br>
    <a (click)="removeMessage()" routerLink="/main" class="back">Go Back</a>
    <br>
  </div>
  <form>
    <legend>Your Contact Cards</legend>
    <div class="cards">
      <div class="row" *ngFor="let card of allCards">
        <h3>
          <img [src]="card.photo_url" width="20" height="20" alt="">
          <a routerLink="/cards/{{card.id}}">
            {{card.type_of_card}}
          </a>
        </h3>
        <input type="button" class="btn-info" routerLink="/cards/edit/{{card.id}}" value="Edit">
        <form (ngSubmit)="deleteCard(card)">
          <input type="submit" class="btn-danger" value="Delete"/>
        </form>
        <br>
      </div>
    </div>
  </form>
</div>
