<a class="hiddenanchor" id="tologin"></a>
<div *ngIf="auth.isSignedOut" class="container">
  <form>
    <legend>Sign Up!</legend>
    <label for="email">Email:</label><br>
    <input [(ngModel)]="newUser.email" type="text" name="email" placeholder="Email"/><br>
    <label for="password">Password:</label><br>
    <input [(ngModel)]="newUser.password" type="password" name="password" placeholder="Password"/><br>
    <label for="confirm_password">Confirm Password:</label><br>
    <input [(ngModel)]="newUser.password_confirmation" name="confirm_password" type="password" name="password_confirmation" placeholder="Confirm Passsword"/><br><br>
    <a href="#tologin">Already a member? Sign In!</a>
    <div class="lower">
      <input (click)="signUp()" type="submit" value="Sign Up"/>
    </div><!--/ lower-->
  </form>
</div><!--/ container-->
