<p> main works</p>
<section class="cn-container">
	<div class="cn-slide" id="slide-main">
		<h2>What would you like to do?</h2>
		<nav>
			<a href="#slide-1">See Your Cards</a>
      <br><br><br><br>
			<a href="#slide-2">Create New Card</a>
      <br><br><br><br>
			<a href="#slide-3">Your Account</a>
		</nav>
	</div>
	<!-- Slide 1  -->
	<div class="cn-slide ts-slide-sub" id="slide-1">
		<h2>See Your Cards</h2>
		<a href="#slide-main" class="cn-back">Back</a>
	</div>
  <!-- Slide 2  -->
  <div class="cn-slide ts-slide-sub" id="slide-2">
    <h2>Create New Card</h2>
    <a href="#slide-main" class="cn-back">Back</a>
  </div>
  <!-- Slide 3  -->
  <div class="cn-slide ts-slide-sub" id="slide-3">
    <h2>Your Account</h2>
    <a href="#slide-main" class="cn-back">Back</a>
  </div>
</section>
