<div class="container">
  <div class="back">
    <br>
    <a href="cards" class="back">Go Back</a>
    <br>
  </div>
  <div *ngIf="oneCard">
    <section id="infoPage">
      <img [src]="oneCard.card.photo_url" width="164" height="164" alt="">
      <header>
        <h1>{{oneCard.card.name}}</h1>
        <h4>{{oneCard.card.email}}</h4> <h4>{{oneCard.card.phone_number}}</h4>
      </header>
      <p class="description">{{oneCard.card.elevator_pitch}}</p>
      <a href="<?php echo $profile->facebook()?>" class="grayButton facebook">Find me on Facebook</a>
      <a href="<?php echo $profile->twitter()?>" class="grayButton twitter">Follow me on Twitter</a>
      <a href="<?php echo $profile->facebook()?>" class="grayButton facebook">Follow me on Instagram</a>
      <a href="<?php echo $profile->twitter()?>" class="grayButton twitter">Find me on LinkedIn</a>
      <br><br>
    </section>
  </div>
</div>
