.container {
 z-index: 22;
 position: fixed;
 width: 50%;
 top: 12%;
 min-width: 300px;
 max-width: 700px;
 left: 0;
 right: 0;
 background: #fff;
 border-radius: 3px;
 border: 1px solid #ccc;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#small {
  display: none;
}

a.back {
font-size: 13px;
color: #aaa;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
transition: all .4s ease;
}

a.back:hover {
color: #555;
}

a.grayButton{
    padding:6px 12px 6px 30px;
    position:relative;

    background-color:#fcfcfc;
    background:-moz-linear-gradient(left top -90deg, #fff, #ccc);
    background:-webkit-linear-gradient(left top -90deg, #fff, #ccc);
    background:linear-gradient(to right to bottom -90deg, #fff, #ccc);

    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;

    font-size:11px;
    color:#444;
    text-shadow:1px 1px 0 #fff;
    display:inline-block;
    margin-right:10px;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    transition:0.25s;
}

a.grayButton:hover{
    text-decoration:none !important;
    box-shadow:0 0 5px #2b99ff;
}

a.grayButton:before{
    height: 18px;
    left: 4px;
    position: absolute;
    top: 6px;
    width: 20px;
    content: '';
}

.facebook {
	background:url("../../../fb.png") no-repeat;
  background-size: 30px 30px
}

.twitter{
	background:url("../../../twitter.png") no-repeat;
  background-size: 30px 30px
}

.instagram{
	background:url("../../../ig.png") no-repeat;
  background-size: 30px 30px
}

.linkedin {
	background:url("../../../linkedin.png") no-repeat;
  background-size: 27px 30px
}

#infoPage {
  word-wrap: break-word;
}

#fixed {
  display: inline-block;
  max-height: 600px;
  overflow: scroll;
}

@media screen and (max-height: 720px){
  #fixed {
    max-height: 520px;
  }
}

@media screen and (max-width: 700px){
  img {
    width: 250px;
  }
}

@media screen and (max-width: 475px){
  #fixed {
    max-width: 300px;
    left: 5%;
    right: 50%;
    top: 10%
  }
  #small {
    float: left;
    display: block;
    height: 30px;
  }
  #regular {
    display: none;
  }
}
