<div class="container" id="fixed">
  <div class="back">
    <br>
    <a routerLink="/cards" class="back">Go Back</a>
    <br>
  </div>
  <div *ngIf="oneCard">
    <section id="infoPage">
      <img [src]="oneCard.card.photo_url" width="164" height="164" alt="">
      <header>
        <h1>{{oneCard.card.name}}</h1>
        <h4>{{oneCard.card.email}}</h4> <h4>{{oneCard.card.phone_number}}</h4>
      </header>
      <p class="description">{{oneCard.card.elevator_pitch}}</p>
      <a href="https://www.facebook.com/search/top/?q={{oneCard.card.name}}" target="_blank" class="grayButton facebook">Find me on Facebook</a>
      <a href="https://www.twitter.com/search?f=users&vertical=default&q={{oneCard.card.name}}" target="_blank" class="grayButton twitter">Follow me on Twitter</a>
      <a href="https://www.instagram.com" target="_blank" class="grayButton instagram">Follow me on Instagram</a>
      <a href="https://www.linkedin.com" target="_blank" class="grayButton linkedin">Find me on LinkedIn</a>
      <br><br>
      <a routerLink="../send/{{oneCard.card.id}}" target="_blank">Send This Card!</a>
    </section>
  </div>
</div>
